.questionBlock-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.questionBlock-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.questionBlock-exit {
  opacity: 1;
}
.questionBlock-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .questionBlock {
        @apply text-white font-bold p-5 rounded-md disabled:bg-gray-900 w-full border-2 border-white border-solid bg-black bg-opacity-25 backdrop-blur-sm cursor-grab
    }
}