@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PixelFont";
    font-weight: bold;
    font-style: oblique;
    font-size: xx-large;
    src: url("/Minecart_LCD_Polish.ttf");
}  

@layer components {
    .btn {
        @apply bg-black text-white font-bold px-2 py-1 disabled:bg-gray-900 ml-1 mr-1 text-center rounded-b-md transition-transform duration-150 ease-in-out h-full;
    }
    .input {
        @apply bg-black text-white font-bold px-2 py-1 disabled:bg-gray-900 ml-1 mr-1 text-center rounded-b-md transition-transform duration-150 ease-in-out h-full outline-none;
    }
}