@import "./Components/Notifications/NotificationStyles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "PixelFont";
    font-weight: bold;
    font-style: oblique;
    font-size: xx-large;
    src: url("/Minecart_LCD_Polish.ttf");
}  

@layer components {

    .text-2xs {
        font-size: 0.50rem;
        line-height: 0.75rem;
    }

    .text-3xs {
        font-size: 0.25rem;
        line-height: 0.50rem;
    }

    .text-4xs {
        font-size: 0.20rem;
        line-height: 0.40rem;
    }

    .btn {
        @apply bg-black text-white font-bold px-0.5 sm:px-2 py-1 disabled:bg-gray-900 ml-0.5 mr-0.5 sm:ml-1 sm:mr-1 text-center xs:rounded-b-sm sm:rounded-b-md transition-transform duration-150 ease-in-out h-full hover:scale-x-95 disabled:scale-100;
    }
    .input {
        @apply bg-black text-white font-bold px-0.5 sm:px-2 py-1 disabled:bg-gray-900 ml-0.5 mr-0.5 sm:ml-1 sm:mr-1 text-center xs:rounded-b-sm sm:rounded-b-md transition-transform duration-150 ease-in-out h-full outline-none hover:scale-x-95;
    }
    .myTextSize {
        @apply text-2xs 2xs:text-3xs xs:text-2xs sm:text-xs md:text-xl xl:text-2xl 2xl:text-6xl
    }
    .boardTextSize {
        @apply text-xs xs:text-sm sm:text-lg md:text-3xl xl:text-7xl
    }
    .inputTextSize {
        @apply text-4xs 2xs:text-3xs xs:text-3xs sm:text-2xs md:text-base xl:text-2xl 2xl:text-3xl
    }
    .xSize {
        @apply text-xs xs:text-sm sm:text-lg md:text-3xl xl:text-7xl 2xl:text-9xl
    }

    .menuHeaderTextSize {
        @apply text-xs xs:text-sm sm:text-lg md:text-3xl xl:text-7xl
    }

    .menuSmallerTextSize {
        @apply text-xs xs:text-sm sm:text-lg md:text-xl xl:text-3xl
    }

    .menuButton {
        @apply text-white font-bold p-5 rounded-2xl disabled:bg-gray-900 text-center transition-transform duration-150 ease-in-out hover:scale-110 disabled:scale-100;
    }

    .menuHeader {
        @apply w-full h-2/6 flex justify-center items-center text-center menuHeaderTextSize text-white
    }

    .menuMain {
        @apply w-full h-3/6 flex gap-y-10 items-center flex-col align-middle
    }

    .menuFooter {
        @apply w-full h-1/6 box-border flex flex-col justify-center items-center text-white
    }

    .notification {
        @apply flex p-5 flex-col rounded-md m-2 relative cursor-pointer
    }

    .notificationTitle {
        @apply font-bold first-letter:uppercase
    }

    .notificationMessage {
        @apply ml-1
    }

    .notification.info {
        @apply bg-blue-500
    } 

    .notification.success {
        @apply bg-green-500
    }

    .notification.warning {
        @apply bg-yellow-500
    }

    .notification.error {
        @apply bg-red-500
    }

    .notificationClose {
        @apply cursor-pointer absolute top-0 right-0 m-2
    }

    .notificationProgress {
        @apply absolute bottom-0 left-0 right-0 h-1 bg-black rounded-b-md
    }
}